*{
    margin:0;
	padding:0;
    box-sizing:border-box;	
}
.container{
	width:90%;
	margin:0 auto;
}
.row
{
    display:flex;
    flex-wrap:wrap;
}
.raln
{
	align-items:center;
}
.col-1{
	width:8.33%;
	padding:0 10px;
}
.col-2{
	width:16.66%;
	padding:0 10px;
}
.col-3{
	width:25%;
	padding:0 10px;
}
.col-4{
	width:33.32%;
	padding:0 10px;
}
.col-5{
	width:41.65%;
	padding:0 10px;
}
.col-6{
	width:50%;
	padding:0 10px;
}
.col-66{
	width:50%;
}
.col-7{
	width:58.33%;
	padding:0 10px;
}
.col-8{
	width:66.66%;
	padding:0 10px;
}
.col-9{
	width:75%;
	padding:0 10px;
}
.col-10{
	width:83.33%;
	padding:0 10px;
}
.col-11{
	width:91.66%;
	padding:0 10px;
}
.col-12{
	width:100%;
	padding:0 10px;
}
#headi
{
	padding:20px 0;
}
.multi{
	color:#0d294c;
	text-align:center;
	font-size:15px;
}

.list{
	display:flex;
justify-content: space-evenly;
	list-style:none;
}
.list li a{
	text-decoration:none;
	font-size:17px;
	font-weight:5px;
	display:flex;
	color:#0d294c;
	transition:all 0.2s ease;
}

.list li a:hover{
	color:orangered;
}
.multi2 a{
	display:inline-block;
	padding:8px 24px;
	background-color:orangered;
	color:white;
	font-size:17px;
	border-radius:5px;
	text-decoration:none;
}
.multi2 a:hover{
	opacity:0.8;
}
.banner
{	
    height:90vh;
/* background-image:; */
    background:linear-gradient(#00000078, #00000078),url("images/slide-1.jpg");
    background-position:center;
    background-size:cover;

}
/* .img{ */
	/* background-color:#000000a3; */
	/* opacity:0.8; */
/* } */
.list li a.color{
	color:orangered;
}
.content{
	font-size:20px;
	color:white;
	padding:30px 0;
}
.content h1{
	padding-bottom:20px;
}
.content p{
	padding-bottom:20px;
}
.center{
	display:flex;
	align-items:center;
	height:90vh;
}
.abouts h4{
	color:gray;
}
.abouts h1{
	color:#0d294c;
}

.abouts h4::after{
	content:"";
	width:10%;
	height:1px;
	background-color:red;
	display:inline-block;
	top:-1%;
	}
.llist{
	padding:10px 0;
	list-style:none;
	line-height:1.5;

	}
.llist li i{
	color:orangered;
}
.abouts{
	padding-bottom:30px;
	padding-top:30px;
	}
.abouts h4{
	padding-bottom:10px;
}
.abtfl{
	display:flex;
	font-size:20px;
	}
.multi3 a{
	display:inline-block;
	padding:8px 24px;
	background-color:white;
	color:orangered;
	font-size:17px;
	border:2px solid orangered;
	border-radius:5px;
	text-decoration:none;
	margin-top:10px;
	}
.multi3 a:hover{
	background-color:orangered;
	color:white;
}
.abtfl p{
	padding-bottom:20px;
	}
.dicon{
	display:flex;
	font-size:20px;
	}
.icn{
	color:orangered;
	bottom:20px;
	left:20px;
	padding-top:7px;
}	
.num{
	color:#0d294c;
	padding-left:20px;
	padding-bottom:20px;
}
.num:hover{
	display:block;
}
.details2 p{
		padding-bottom:10px;
	}
.details2 a{
	color:#47477b;
		text-decoration:none;
	}
.details{
	margin-top:20px;
	/* height:150px; */
    box-shadow:0px 0px 5px #ccc;
    padding:30px;
    width:100%;	
}
#vcontent{
	margin-top:40px;
	background-color:#80bfd91c;
	
}
.vimg{
	position:relative;
}
.vimg img{
	width:100%;
	background-position:center;
	background-size:cover;
	
}
.playicn{
    position:absolute;
	width:45px;
	height:45px;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	border:solid 1px orangered;
	background-color:orangered;
	color:white;
	top: 50%;
    left: 50%;
    transform: translate(-50%, 0px);
}
	
/* .vimg i{ */
	position:absolute;
	font-size:90px;
	align-items:center;
	bottom:40%;
	right:50%;
	color:#ed502e;
	/* } */
.vconcept{
	margin:20px 20px;
}
.num1{
	padding:0 20px;
background-color:white;
margin-bottom:20px;
margin-left:20px;
}
.vconcept h1{
	padding-left:20px;
	padding-top:60px;
	font-weight: 400;
    font-size: 34px;
    color: #123a6d;
	padding-bottom:10px;
}
.vconcept p{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	color:gray;
}
.container2{
	width:100%;
	margin:0 auto;
}
.num1 h3:hover{
	color:orangered;
}

span{
	color:red;
	padding-right:5px;
}
#service{
	padding:60px 0;
	background-color:#f5f5f540;
}	
.serbox{
	padding:40px 0;
	background-color:white;
	border:none;
	margin-top:20px;
    width:100%;	
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.sericn{
	width:65px;
	height:45px;
	border-radius:3px;
	display:flex;
	align-items:center;
	justify-content:center;
	border:solid 1px orangered;
	background-color:orangered;
	color:white;
}
.serbox:hover{
	background-color:orangered;
	color:white;
	transition:all 0.2s ease;
}
.serbox:hover .sericn
{
	background-color: white;
	color:orangered;
	transition:all 0.2s ease;
}
.sercon{
	padding:0 30px;
	text-align:center;
}
.sercon h2{
	padding:10px;
}
#test{
	background-color:#80bfd91c;
	padding:40px;
}
.des{
	padding:60px 20px;
	background-color:white;
	position:relative;
}
.des h1{
	padding-left:50px;
}
.des h4{
	color:gray;
	padding-left:50px;
}
.des p{
	font-size:20px;
	padding-top:20px;
	padding-left:50px;
    color:gray;
}
.desimg{
	position:absolute;
	top:35px;
	left:-50px;
}
.desimg2{
	position:absolute;
	top:60px;
	left:-30px;
	}
.rowcol{
	justify-content:space-evenly;
}