*{
    margin:0;
	padding:0;
    box-sizing:border-box;	
}
.container{
	width:90%;
	margin:0 auto;
}
.row
{
    display:flex;
    flex-wrap:wrap;
}
.raln
{
	align-items:center;
}
.col_1{
	width:8.33%;
	padding:0 10px;
}
.col_2{
	width:16.66%;
	padding:0 10px;
}
.col_3{
	width:25%;
	padding:0 10px;
}
.col_4{
	width:33.32%;
	padding:0 10px;
}
.col_5{
	width:41.65%;
	padding:0 10px;
}
.col_6{
	width:50%;
	padding:0 10px;
}
.col_66{
	width:50%;
}
.col_122{
	width:100%;
}
.col_7{
	width:58.33%;
	padding:0 10px;
}
.col_8{
	width:66.66%;
	padding:0 10px;
}
.col_9{
	width:75%;
	padding:0 10px;
}
.col_10{
	width:83.33%;
	padding:0 10px;
}
.col_11{
	width:91.66%;
	padding:0 10px;
}
.col_12{
	width:100%;
	padding:0 10px;
}
#header_section
{
	position:sticky;
	width:100%;
	background-color:white;
	z-index:999;
	top:0;
	padding:20px 0;

}
.logo{
	color:#0d294c;
	text-align:left;
	font-size:17px;
}
.nav_item{
	line-height:3;
}
.multi h2{
	font-family: 'Raleway', sans-serif;
	/* font-weight:500; */
	font-size:25px;
	letter-spacing:1px;
}
.list{
	font-family: 'Open Sans', sans-serif;
	display:flex;
    gap:15px;
	list-style:none;
	justify-content:end;
	align-items:center;
}
.list li a{
	text-decoration:none;
	font-size:15px;
	font-weight:5px;
	/* display:flex; */
	color:#0d294c;
	transition:all 0.2s ease;
}

.list li a:hover{
	color:#ed502e;
}
.drop {
    position: relative;
    font-size:15px;
	font-weight:5px;
}
.dropdown li a:hover{
	color:#ed502e;
}

.drop:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.list li i{
	padding-left:5px;
}
ul.dropdown {
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top: 35px;
    left: -12px;
    list-style: none;
    width: 180px;
    padding-left: 22px;
    line-height: 2.5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(30px);
}
.drop2 {
	font-size:15px;
	font-weight:5px;
    position: relative;
}
.dropdown2{
	padding-left:25px;
}
.drop2:hover ul.dropdown2 {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}
ul.dropdown2 {
    background-color: #fff;
    box-shadow: 0 0 30px #0000001c;
    position: absolute;
    top: 0px;
    right:180px;
    list-style: none;
    width: 180px;
    padding-left: 15px;
    line-height: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(10px);
}
.primary_btn a{
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	padding:8px 24px;
	background-color:#ed502e;
	color:white;
	font-size:17px;
	border-radius:5px;
	text-decoration:none;
	transition:all 0.3s ease;
}
.primary_btn a:hover{
	opacity:0.8;
}
.banner
{	
    background:linear-gradient(#00000070,#00000070),url("images/slide-1.jpg");
    background-size:cover;
}
.list li a.color{
	color:#ed502e;
}
.dropdown li i{
	padding-left:20px;
}
.content{
	color:white;
	/* display:flex; */
	/* align-items:center; */
	/* padding:50px 10px; */
}
.content h1{
	font-family: 'Raleway', sans-serif;
	/* font-weight:500; */
	padding-bottom:10px;
	font-size:48px;
	font-weight:700;
}
.content p{
	font-size:17px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:30px;
}
.center{
	width:52%;
	display:flex;
	align-items:center;
	height:100vh;
	padding-top:85px;
}
.heading_section h5{
	color:#aaaaaa;
	letter-spacing:3px;
	font-weight:600;
	font-style:bold;
	font-size:12px;
	padding-bottom:10px;
	font-family: 'Poppins', sans-serif;
}
.heading_section h1{
	font-size: 34px;
    font-weight: 700;
    /* text-transform: uppercase; */
    font-family: "Poppins", sans-serif;
    color: #0f2f57;
}

.heading_section h5::after{
	content:"";
	width:10%;
	height:1px;
	/* display:flex; */
	/* align-items:center; */
	background-color:#ed502e;
	display:inline-block;
	position:absolute;
    top:8px;
	margin-left:11px;
	}
.about_list{
	color:#444444;
	padding:10px 0;
	list-style:none;
	line-height:2;
	}
.about_list li i{
	margin-right:10px;
	color:#ed502e;
}
.about_list li{
	/* padding-left:20px; */
}
.about_content{
	font-family: 'Open Sans', sans-serif;
	padding-bottom:20px;
}
.about_content p{
	font-family: 'Open Sans', sans-serif;
	/* padding-bottom:20px; */
	color:#444444;
	font-weight:400;
	line-height:1.3;
	/* font-size:15	px; */
}
.about_content2{
	font-family: 'Open Sans', sans-serif;
    padding-bottom:20px;
}
.about_content2 p{
	color:#444444;
	line-height:1.5;
	padding-bottom:10px;
}
#about{
	padding:60px 0;
}
.heading_section{
	position:relative;
	padding-bottom:30px;
	}
.heading_section h4{
	padding-bottom:10px;
}
.abtfl{
	display:flex;
	font-size:20px;
	}
.secondary_btn a{
	display:inline-block;
	padding:8px 24px;
	background-color:white;
	color:#ed502e;
	font-size:17px;
	border:2px solid #ed502e;
	border-radius:5px;
	text-decoration:none;
	margin-top:10px;
	}
.secondary_btn a:hover{
	background-color:#ed502e;
	color:white;
}
.abtfl p{
	padding-bottom:20px;
	}
.card_content{
	display:flex;
	font-size:20px;
	padding-bottom:5px;
	}
.card_content_icon{
	padding-top:10px;
	/* position:relative; */
	font-weight:200;
}	
.card_content_icon i{
	/* position:absolute; */
	/* left:5px; */
	/* bottom:6px; */
	color:#ed502e;
	
	/* display:block; */
	font-size:34px;
	/* float:left; */
}
.card_content_number{
	color:#0d294c;
	padding-left:20px;
	/* padding-bottom:5px; */
	/* position:relative; */
}
.card_content_number h1{
	/* position:absolute; */
	/* top:-14px; */
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:40px;
}
.card_content_number:hover{
	display:block;
}
.card_details p{
	font-family: 'open Sans', sans-serif;
	font-size:15px;
	/* font-weight:9; */
	/* padding-bottom:5px; */
	color:#444444;
	margin-bottom:15px;
	}
.card_details a{
	font-family: 'Raleway', sans-serif;
    color:#164682;
	text-decoration:none;
	font-weight:600;
	/* margin-top:20px; */
	font-size:15px;
	}
.card_details a:hover{
	color:#2169c4;
	
}
.details{
	margin-top:40px;
	/* height:150px; */
    box-shadow:0px 0px 15px #cccc;
    padding:30px;
    width:100%;
    height:auto;	
}
.about_card{
	margin-top:40px;
	box-shadow:0px 0px 15px #cccc;
    padding:20px;
	padding-bottom:50px;
    width:100%;
    height:auto;
}

#third_section{
	/* margin-top:40px; */
	/* margin-left:30px; */
	background-color:#f6f9fd;
	
}
.third_section_img{
	position:relative;
}
.third_section_img img{
	width:92%;
	/* padding-right:50px; */
	background-position:center;
	background-size:cover;
	/* position:absolute; */
	/* right:70px; */
	margin-bottom:-10px;
	/* padding-right:10px; */
	object-fit:cover;
	height:500px;
	/* height:auto; */
}
.third_section_img i{
    position:absolute;
	width:58px;
	height:58px;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	border:solid 1px #ed502e;
	background-color:#ed502e;
	color:white;
	top: 43%;
	/* bottom:-50%; */
    left: 45%;
	font-size:22px;
    transform: translate(-50%, 0px);
}
.third_section_content p{
	font-family: 'Open Sans', sans-serif;	
	font-weight:400;
	font-size:50px;
}
.third_section_content{
	margin:0 20px;
}
span{
	color:#ed502e;
	font-size:16px;
	font-weight:600;
	/* font-style:bold; */
	padding-right:10px;
}
.accordian{
	font-family: 'Open Sans', sans-serif;	
	font-weight:300;
	width:85%;
	/* height:10vh; */
	padding:20px 20px;
    background-color:white;
    margin-bottom:20px;
    margin-left:40px;
    /* padding-top:20px; */
}
.accordian_para{
	color:#444444;
	overflow:hidden;
	height:0;
	font-size:16px;
	transition:all 0.4s ease;
}
.accordian:hover .accordian_para{
	height:auto;
}
.accordian_head h3:hover{
	color:#ed502e;
}

.accordian_head h3{
	font-family: "Poppins", sans-serif;
	font-size:16px;
	font-weight:500;
	padding-bottom:10px;
	color:#0b2341;
	cursor:pointer;
}

.third_section_content h1{
	font-family: 'Open Sans', sans-serif;
	padding-left:20px;
	padding-top:60px;
	font-weight: 400;
    font-size: 35px;
    color: #123a6d;
	/* padding-bottom:10px; */
}

.third_section_content p{
	font-size:14px;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	color:gray;
}
.container2{
	width:100%;
	margin:0 auto;
}
#service{
	padding:60px 0;
	background-color:#f5f5f540;
}	
.service_card{
	padding:80px 15px;
	background-color:white;
	border:none;
	box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
	margin-top:20px;
    width:92%;	
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.service_card_icn{
	width:65px;
	height:65px;
	border-radius:4px;
	display:flex;
	align-items:center;
	justify-content:center;
	/* border:solid 1px #ed502e; */
	background-color:#ed502e;
	color:white;
	box-shadow:-8px -8px #f9c6bb;
}
.service_card:hover{
	background-color:#ed502e;
	color:white;
	/* border:white; */
	transition:all 0.2s ease;
}
.service_card:hover h2{
	/* background-color:#ed502e; */
	color:white;
	transition:all 0.2s ease;
}
.service_card:hover .service_card_icn
{
	background-color: white;
	color:#ed502e;
	transition:all 0.2s ease;
}
.service_card_icn i{
	font-size:25px;
}
.service_content{
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
.service_content h2{
	color:#0b2341;
	padding:10px;
}
.service_content p{
	line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
#testimonial{
	background-color:#f6f9fd;
	padding:60px 0;
}
.testimonial_card{
	padding:30px 20px 40px 20px;
	/* padding-bottom:10px; */
	background-color:white;
	position:relative;
	margin-bottom:20px;
}
.testimonial_card h3{
	font-family: 'open Sans', sans-serif;
	padding-left:50px;
	font-size: 18px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #111;
}
.testimonial_card h4{
	font-family: 'Raleway', sans-serif;
	/* color:gray; */
	padding-left:50px;
	font-size: 14px;
	font-weight:500;
    color: #999;
    margin: 0;

}
.testimonial_card p{
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-size:16px;
	padding-top:20px;
	padding-left:50px;
    color:#444444;
}
.testimonial_card i{
	color:#fdedea;
	margin-left:10px;
	margin-right:10px;
}
.testimonial_img{
	position:absolute;
	top:35px;
	/* height:17vh; */
	left:-45px;
	width: 100px;
height: 100px;
	border:5px solid white;
}
.testimonial_img img{
	width:100%;
	height:auto;
}
.space{
	display:flex;
	justify-content:space-evenly;
}
#callaction{
	background-color:#0b2341;
	padding:80px 0;
}
.calltoaction{
	color:white;
	font-size:18px;
	text-align:center;
}
.calltoaction h2{
	font-family: 'Raleway', sans-serif;
	padding-bottom:10px;
	font-size:28px;
}
.calltoaction p{
	font-family: 'Open Sans', sans-serif;
	padding:0 10px 20px 10px;
	font-size:17px;
}
.calltoaction .secondary_btn a{
	font-family: 'Raleway', sans-serif;
	display:inline-block;
	padding:10px 35px;
	background-color:#0b2341;
	color:white;
	font-size:17px;
	border:2px solid #ed502e;
	border-radius:5px;
	text-decoration:none;
	margin-top:10px;
	}
.calltoaction .secondary_btn a:hover{
	background-color:#ed502e;
	color:white;
}
#portfolio{
	background-color:#f5f5f540;
	padding:60px 0;
}
.portfolio_list{
	display:flex;
    gap:30px;
    align-items:center;
    justify-content:center;
	list-style:none;
	padding-bottom:25px;
	/* font-size:40px; */
}
.portfolio_list li a{
    font-family: 'open Sans', sans-serif;
	text-decoration:none;
	font-size:13px;
	font-weight:600;
	/* font-style:bold; */
	display:flex;
	color:#0d294c;
	transition:all 0.2s ease;
}

.portfolio_list li a:hover{
	color:#ed502e;
}
.portfolio_list li a.color{
	color:#ed502e;
}
.port1{
	position:relative;
	margin-bottom:10px 0;
	display:flex;
	align-items:center;
	justify-content:center;
}
.portfolio_pic{
	padding:10px 0;
}
.portfolio_pic img{
	width:100%;
	/* padding:10px 0; */
	background-position:center;
	background-size:cover;
}
.portfolio_card{
	display:flex;
	justify-content:space-between;
}
.portfolio_card_content h2{
	font-family: "Raleway", sans-serif;
	color:#0b2341;
	font-size:18px;
	font-weight:500;
}
.portfolio_card_content p{
	font-family: "Raleway", sans-serif;
	color: #1a5298;
    font-size: 14px;
}
.portfolio_card{
	border:1px solid #fff;
	padding:20px 30px;
	position:absolute;
	bottom:14px;
	left:26px;
	width:90%;
	opacity:0;
	transition:0.5s;
	background-color:#ffffffcf;
}

.port1:hover .portfolio_card{
	opacity:1;
	bottom:30px;
	transition:0.5s;
}

.portfolio_card_icn i{
	font-size:25px;
	padding-left:13px;
	color:#123a6d;
}
.portfolio_card_icn a:hover i{
 color:orangered;
}
#team{
	background-color:#f6f9fd;
	padding:60px 0;
}
.team_pic{
	position:relative;
	overflow:hidden;
	height:280px;
	margin-bottom:10px;
}
.team_icn{
	position:absolute;
	top:0px;
	left:16px;
	height:55vh;
	width:15%;
	padding-bottom:20px;
	background-color:#0a224082;
	font-size:20px;
	text-align:center;
	opacity:0;
	visibility:hidden;
	left:-20px;
	line-height:1.8;
	z-index:2;
}
.team_icn a{
	display:block;
	color:#fff;
	margin:7px;
}
.team_pic:hover .team_content > .team_icn{
	visibility:visible;
	opacity:1;
	transition:0.5s;
	left:0;
}
.team_icn a:hover{
	color:#ed502e;
}
.team_pic:hover{
	position:relative;
	/* z-index:999; */
}
.hover_content{
	position:absolute;
	text-align:center;
	left:95px;
	bottom:50px;
	color:#fff;
	opacity:0;
	visibility:hidden;
	transform:translateY(20px);
	z-index:2;
}
.team_pic:hover .team_content > .hover_content{
	visibility:visible;
	opacity:1;
	transition:0.5s;
	transform:translateY(0px);
	overflow:hidden;
}
.after_hover{
	background:linear-gradient(45deg, rgba(11,35,65,0.9) 0%,rgba(11,35,65,0.8)20%,rgba(0,212,255,0)100%);
	opacity:0;
	transition:0.4s;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}
.team_pic:hover .after_hover{
	opacity:1;
}
.hover_content h4{
    font-family:'Raleway', sans-serif;
}
.team_pic img{
	width:100%;
}
#faq{
	padding:60px 0;
	background-color:#f5f5f540;
}
.faq_question{
	color:#393434d9;
	padding:10px 0;
	display:flex;
}
.faq_question i{
	color:#0000ff96;
	font-size:20px;
	margin-right:10px;
	padding-bottom:10px;
	padding-right:10px;
}
.faq_question h3{
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	font-weight:700;
}
.faq_answer{
	font-family: 'Open Sans', sans-serif;
	color:#444444;
    padding-bottom:10px;
    padding-top:7px;
	font-size:15px;
	font-weight:400;
	padding-bottom:10px;
	padding-left:20px;
}
.faqln{
	padding-bottom:20px;
	border-bottom:1px solid #e9f1fb;
}
#contactus{
	background-color:#f6f9fd;
	padding:60px 0;
}

.address_content h2{
	font-family: 'Raleway', sans-serif;
	padding-top:60px;
	color:#777777;
	font-size:20px;
	font-family:700;
}
.address_content p{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	padding-top:13px;
	line-height:1.5;
	color:#0b2341;
}
.address_icn{
	position:relative;
}
.address_icn i{
	color:#ed502e;
	border:1px dotted #ed502e;
	position:absolute;
	width:45px;
	height:45px;
	font-size:28px;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, 0px);
}
.address{
	height:200px;
	background-color:white;
	padding:40px 0;
	margin-top:40px;
    text-align:center;	
	box-shadow: 0 0 30px #0000001c;
}
.form input{
	font-size:14px;
	border:1px solid #dee2e6;
	border-radius:5px;
	margin-bottom:10px;
	/* outline-color:#ed502e; */
	/* border-color:gray; */
}
.form textarea{
	font-size:14px;
	/* border-color:#dee2e6; */
	/* outlinqe:0; */
	outline-color:#ed502e;
	width:100%;
	height:150px;
	margin-bottom:10px;
}
.form{
	/* font-size: 17px; */
	height:400px;
	background-color:white;
	padding:40px 0;
	margin-top:40px;
    margin-bottom:10px;
    text-align:center;	
	box-shadow: 0 0 30px #0000001c;
}
.form .primary_btn a{
	font-family: 'Open Sans', sans-serif;
	/* display:inline-block; */
	padding:8px 24px;
	background-color:#ed502e;
	color:white;
	font-size:17px;
	border-radius:5px;
	text-decoration:none;
}
.form .primary_btn a:hover{
	opacity:0.8;
}
.email{
	height:auto;
	background-color:white;
	padding:40px 10px;
	margin-top:20px;
    text-align:center;	
	box-shadow: 0 0 30px #0000001c;
}
.call{
	height:220px;
	background-color:white;
	padding:40px 0;
	margin-top:20px;
    text-align:center;	
	box-shadow: 0 0 30px #0000001c;
}
.form{
	padding-left:10px;
}
.lab{
	/* outline-style:solid; */
	outline-color:#ed502e;
	padding-left:10px;
	display:block;
	font-weight:400;
	line-height:1.5;
	width:100%;
	height:40px;
}
#fname{
	outline-color:#ed502e;
}
.sub{
	padding-left:10px;
	font-weight:400;
	line-height:1.5;
	width:100%;
	height:40px;
	/* margin-top:10px; */
}
.formpad{
	margin-bottom:0;
}
.mess{
	width:100%;
}
#footer{
	background-color:#071527;
	padding:40px 0;
}
.multiwid{
	width:31%;
}
.multi_card{
	text-align:center;
	height:auto;
	background-color:#05101e;
	border-top:4px solid #ed502e;
	padding-top:20px;
	margin-top:20px;
	margin-bottom:30px;
    color:white;	
	line-height:1.5;
	padding-bottom:20px;
}
.multi_card h3{
	font-size:24px;
	font-weight:700;
	font-family: 'Raleway', sans-serif;
	padding-bottom:18px;
}
.multi_card p{
	font-style:italic;
	font-family: 'Raleway', sans-serif;
	/* padding-bottom:20px; */
	padding:0 20px;
	font-size:14px;
}
.multi_card address{
	font-family: 'Raleway', sans-serif;
	padding:20px 0;
	font-size:14px;
}
.useful{
	font-family: 'Raleway', sans-serif;
	height:auto;
	background-color:#071527;
	margin-top:20px;
    color:white;	
}
.useful h3{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
}
.our_services h3{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
}
.our_services{
	height:auto;
	background-color:#071527;
	margin-top:20px;	
	color:white;
}
.our_newsletter{
	height:auto;
	background-color:#071527;
	color:white;
	margin-top:20px;	
}
.our_newsletter h3{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	padding-bottom:24px;
}
.our_newsletter p{
	font-family: 'Open Sans', sans-serif;
	padding-bottom:40px;
	font-size:14px;
}
.footlist{
	padding-top:30px;
	display:flex;
    justify-content: center;
	list-style:none;
}
.footlist li i{
    width:36px;
	height:35px;
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	/* border:solid 1px #0d294c; */
	background-color:#0d294c;
	color:white;
	margin-left:8px;
}
.footlist li i:hover{
	background-color:#ed502e;
	transition:all 0.2s ease;
	/* opacity:0.8; */
}
.useful h3{
	padding-bottom:20px;
}
.ourser h3{
	padding-bottom:20px;
}
.use_list{
	font-family: 'Open Sans', sans-serif;
	list-style:none;
	line-height:2.5;
	font-size:14px;
}
.use_list li{
	padding-left:10px;
	transition:all 0.3s ease;
}
.use_list li:hover{
	color:#ed502e;
}
.use_list i{
	color:#ed502e;
	padding-right:10px;
}
.copyrights{
	/* font-family:"Open Sans"; */
	margin-top:10px;
	padding-top:0px;
	border-top:1px solid #0f2f57;
	text-align:center;
	color:white;
}
.copyrights i{
	font-size:13px;
}
.copyrights h5{
	font-family: 'Open Sans', sans-serif;
    font-weight:500;
	font-size:14px;
	margin-top:30px;
}
.copyrights h6{
	font-family: 'Open Sans', sans-serif;
    font-weight:300;
	margin-top:13px;
	font-size:13px;
}
.copyrights a{
	text-decoration:none;
	color:#ed502e;
}
.subscribe_btn{
	position:relative;
}
.subscribe_btn input{
	border-radius:5px;
	padding:10px 145px 10px 15px;
	border:1px solid #fff;
	width:100%;
	/* outline-style:solid; */
	/* outline-color;#ed502e; */
}
.subscribe_btn button{
	border-radius:0 5px 5px 0;
	position:absolute;
    right:0;
	text-decoration:none;
	background-color:#ed502e;
	/* border:#ed502e; */
	color:#fff;
	padding:11px 40px;
	border:none;
} 
textarea{
	outline-color:#ed502e;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/* .ournew form{ */
	/* margin-top:30px; */
	/* background-color:#fff; */
	/* padding:6px 10px; */
	/* position:relative; */
	/* border-radius:4px; */
/* } */
/* .ournew form input[type=email]{ */
	/* border:0; */
	/* padding:6px; */
	/* width:90px; */
/* } */
/* .ournew form input[type=submit]{ */
	/* position:absolute; */
	/* top:0; */
	/* right:0; */
	/* font-size:16px; */
	/* padding:10px 28px; */
	/* background-color:#ed502e; */
	/* color:#fff; */
	/* transition:0.4s; */
	/* border:#ed502e; */
	/* border-radius:0 4px 4px 0; */
/* } */
/* .ournew form input[type=submit]:hover{ */
	/* cursor:pointer; */
/* } */